<%= form_for(@developer) do |f| %>

<% if @developer.errors.any? %>
  <div>
    <h2>There were some errors:</h2>

    <ul>
      <% @developer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

  <div>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>



<% end %>

<script type="text/javascript" charset="utf-8">
  $(function () {
    $('form').submit(function(event) {
      //prevent form from submitting the default way
      event.preventDefault();

      var values = $(this).serialize();

      var posting = $.post('/developers', values);

      posting.done(function(data) {
        var developer = data;
        $("#developerName").text(developer["name"]);
      });
    });
  });
</script>
