<%= form_for(@developer) do |f| %>

<% if @developer.errors.any? %>
  <div>
    <h2>There were some errors:</h2>

    <ul>
      <% @developer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

  <div>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>



<% end %>
