<%= form_for @player, :url => url_for(:controller => 'sessions', :action => 'create') do |f| %>

<div><%= f.label :name, "Select your name" %><br>
  <%= f.collection_select(:name, @players, :name, :name) %>
</div>

  <div>
    <%= f.label :password, "Your password:" %><br>
    <%= f.password_field :password %>
  </div>

  <div class="actions">
    <%= f.submit "Sign In" %>
  </div>
<% end %>

<%= link_to('Log in with Facebook!', '/auth/facebook') %>
