<h1><%= @player.name %> is playing <%= @game.name %></h1>
<%= @game.win_parameter %>
<%= @game.lose_parameter %>
<p>Submit score and health...</p>

<%= form_for(@game) do |f| %>
  <%= f.fields_for :game_sessions do |f| %>
  <div>
    <%= f.label :score %><br>
    <%= f.text_field :score %>
  </div>

  <div>
    <%= f.label :health %><br>
    <%= f.text_field :health %>
  </div>
  <% end %>
  <div>
    <%= f.submit %>
  </div>

<% end %>
