<h3> Name</h3> <%= @game.name %>
<h3>Description</h3> <%= @game.description %>
<!-- <h3>Genre</h3> <%= @game.genre %> -->
<h3>Developer</h3> <%= @game.developer.name %>
<p>You win by reaching a score of <%= @game.win_parameter %>. </p>
<p>You lose by reaching a health/score of <%= @game.lose_parameter %>. </p>
<br>
<%= link_to "Play", new_game_game_session_path(@game.id) %>
<br>
<%= link_to 'List', games_path %>
<%= link_to 'Edit', edit_game_path(@game) %>
<%= link_to 'Destroy', game_path(@game), method: :delete, data: { confirm: 'Are you sure you want to delete?' }%>

<a href="#" class="js-more" data-id="<%=@game.id%>">Show More</a>


<div class="gameName">
  <ul>

  </ul>
</div>
