<h1> <%= @player.name %> </h1>

<ul>
  <%= @game_sessions.each do |game_session| %>
    <li><strong>Session:</strong> <%= game_session.id %> <strong>Game:</strong> Not Sure <strong>Score:</strong> <%= game_session.score %> <%= link_to "Show", game_game_session_path(game_session.id, game_session.game_id) %> </li>
  <% end %>
</ul>

<%= link_to 'List', players_path %>
<%= link_to 'Edit', edit_player_path(@player) %>
<%= link_to 'Destroy', player_path(@player), method: :delete, data: { confirm: 'Are you sure you want to delete?' }%>
